<!DOCTYPE html>
<html>
  {% include "header.html" %}
  <body>
    <div id="loading-spinner"></div>
    <div id="datatable"></div>

    <div style="margin-top: 20px; text-align: center">
      <button
        class="button button-primary data-dependent-button"
        id="add-new-row"
      >
        Add Row
      </button>
      <button
        class="button button-red data-dependent-button"
        id="remove-selected-row"
      >
        Delete Row
      </button>
      <button
        class="button button-secondar data-dependent-button"
        id="logout-button"
      >
        Logout
      </button>
    </div>

    <script src="https://unpkg.com/sortablejs@1.7.0/Sortable.min.js"></script>
    <script src="https://unpkg.com/clusterize.js@0.18.0/clusterize.min.js"></script>
    <script src="https://unpkg.com/frappe-datatable@1.17.4/dist/frappe-datatable.min.js"></script>
    <script src="static/dashboard.js"></script>
    <script>
      let datatable; // Declare outside
      (async () => {
        try {
          showSpinner();
          const { columns, dataFromAPI } = await getSampleData();
          datatable = new DataTable("#datatable", {
            columns: columns,
            data: dataFromAPI,
            checkboxColumn: true,
            inlineFilters: true,
            getEditor: getEditor,
          });
          hideSpinner();
        } catch (error) {
          // Handle errors gracefully, e.g., display an error message to the user
          console.error("Error fetching data:", error);
        }
      })();
    </script>
  </body>
</html>
