<!DOCTYPE html>
<html>
  <head>
    <title>Hirefolio</title>
    <link
      href="https://unpkg.com/frappe-datatable@1.17.4/dist/frappe-datatable.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <link href="static/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="datatable"></div>
    <button class="button button-primary" id="add-new-row">Add Row</button>
    <button class="button button-red" id="remove-selected-row">Delete</button>

    <script src="https://unpkg.com/sortablejs@1.7.0/Sortable.min.js"></script>
    <script src="https://unpkg.com/clusterize.js@0.18.0/clusterize.min.js"></script>
    <script src="https://unpkg.com/frappe-datatable@1.17.4/dist/frappe-datatable.min.js"></script>
    <script src="static/util.js"></script>

    <script>
      let datatable; // Declare outside

      (async () => {
        try {
          const { columns, dataFromAPI } = await getSampleData();
          datatable = new DataTable("#datatable", {
            columns,
            data: dataFromAPI,
            checkboxColumn: true,
            inlineFilters: true,
            getEditor: getEditor,
          });
        } catch (error) {
          // Handle errors gracefully, e.g., display an error message to the user
          console.error("Error fetching data:", error);
        }
      })();
    </script>
  </body>
</html>
