body {
  font-family: sans-serif;
}

/* Primary red button */
.button-red {
    background-color: #ee5f5b; /* Skeleton's primary red */
    border: 1px solid #c43c35;
    color: #fff;
    
}
  
/* Hover effect (optional) */
.button-red:hover {
    background-color: #e0544f; /* Slightly darker red */
    color: #FFF;
}

#loading-spinner {
  display: none;
}

#loading-spinner {
  position: fixed; /* Position spinner in center of viewport */
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  height: 50px;

  border: 8px solid #f3f3f3; /* Light gray border */
  border-top: 8px solid #3498db; /* Blue top border for rotation */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
